{% extends 'base.html' %}

{% block conteudo %}

<h2>Lista de Atividades</h2>
{% if request.user.is_authenticated %}
<table class="ui celled table">
    <thead>
    <tr>
        <th>Número</th>
        <th>Detalhes</th>
        <th>Pontos</th>
        <th>Opções</th>
    </tr>
    </thead>
    {% for atividade in object_list %}
    <tbody>
    <tr>
        <td>{{atividade.numero}}</td>
        <td>{{atividade.detalhes}}</td>
        <td>{{atividade.pontos}}</td>
        <td>
            <a href="{% url 'veratividade' atividade.id %}">
                <button class="ui green mini button">
                    <i class="book icon"></i></button>
            </a>
            <a href="{% url 'editaratividade' atividade.id %}">
                <button class="ui yellow mini button">
                    <i class="redo alternate icon"></i></button>
            </a>
            <a href="{% url 'excluiratividade' atividade.id %}">
                <button class="ui negative mini button">
                    <i class="archive icon"></i></button>
            </a>
        </td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% else %}
<table class="ui celled table">
    <thead>
    <tr>
        <th>Número</th>
        <th>Detalhes</th>
        <th>Pontos</th>
    </tr>
    </thead>
    {% for atividade in object_list %}
    <tbody>
    <tr>
        <td>{{atividade.numero}}</td>
        <td>{{atividade.detalhes}}</td>
        <td>{{atividade.pontos}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}

{% endblock %}