{% extends 'base.html' %}
{% load static %}

{% block conteudo %}

<h2>Lista de Matérias</h2>
<div class="ui hidden divider"></div>
{% if request.user.is_authenticated %}
<table class="ui celled table" id="tabela-campos">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Opções</th>
    </tr>
    </thead>
    <tbody>
    {% for campo in object_list %}
    <tr>
        <td>{{campo.nome}}</td>
        <td>{{campo.descricao}}</td>
        <td>
            <a href="{% url 'editarcampo' campo.id %}">
                <button class="ui yellow mini button">
                    <i class="redo alternate icon"></i></button>
            </a>
            <a href="{% url 'excluircampo' campo.id %}">
                <button class="ui negative mini button">
                    <i class="archive icon"></i></button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<table class="ui celled table" id="tabela-campos2">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    {% for campo in object_list %}
    <tr>
        <td>{{campo.nome}}</td>
        <td>{{campo.descricao}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.mask.min.js' %}"></script>

<script>

    $(document).ready(function(){
        $('#tabela-campos').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 10,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });


        $('#tabela-campos2').DataTable({
        responsive: true,
        // "bSort": false,
        "aaSorting": [],
        "pageLength": 10,
        "language": {
            "decimal": "",
            "emptyTable": "Sem dados disponíveis",
            "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
            "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
            "infoFiltered": "(filtrado de _MAX_ registos no total)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ registos",
            "loadingRecords": "A carregar dados...",
            "processing": "A processar...",
            "search": "Procurar:",
            "zeroRecords": "Não foram encontrados resultados",
            "paginate": {
                "first": "Primeiro",
                "last": "Último",
                "next": "Seguinte",
                "previous": "Anterior"
            },
            "aria": {
                "sortAscending": ": ordem crescente",
                "sortDescending": ": ordem decrescente"
            }
        }
    });
    });

</script>

{% endblock %}