{% extends 'base.html' %}

{% block conteudo %}

<h2>Lista de Progressoes</h2>
{% if request.user.is_authenticated %}
<table class="ui celled stackable table">
    <thead>
    <tr>
        <th>Data</th>
        <th>Data_Final</th>
        <th>Observação</th>
        <th>Usuário</th>
    </tr>
    </thead>
    {% for progressao in object_list %}
    <tbody>
    <tr>
        <td>{{progressao.data}}</td>
        <td>{{progressao.data_final}}</td>
        <td>{{progressao.observacao}}</td>
        <td>{{progressao.usuario}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{% endif %}

{% endblock %}