{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block conteudo %}

{% if request.user.is_authenticated %}
<h3>Ação não permitida! Você não é Professor.</h3>

{% else %}
<h3>Autenticação</h3>

<div class="ui card">
    <div class="ui container">
        <hr>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="ui primary button">Entrar</button>
            <hr>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}